<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Details</title>
    <link href="../../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <p>User Name: <span th:text="${user.userName}"></span></p>
    <p>User Email: <span th:text="${user.email}"></span></p>
    <p>Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${user.dateToday}"></span></p>
</body>
</html>